.orderDetail {
    padding: 0;
    background-color: #efeff5;
    width: 100%;
    height: 736px;


    .head {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 3px;
        background-color: #4f8dd3;
        font-size: 20px;
        text-align: center;
        color: #ffffff;

        .order_details {
            padding-top: 5px;

        }
        .icon-fanhui, .icon-cf-c57 {
            font-size: 30px;
        }
    }

    .choices {
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        background-color: #e4e6ed;
        color: #313035;
        height: 35px;
        padding-top: 5px;
    }

    .order_num_and_date {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        margin-top: 10px;
        font-size: 16px;

        .order_num {
            color: #5188cc;
        }

        .order_date {
            color: #25242a;
        }
    }

    .ticket_details {
        width: 100%;
        height: 150px;
        background-color: #fff;
        margin-top: 10px;
        border: 1px solid #d9dae3;
        font-size: 16px;

        .time_and_station, .seat_msg, .passenger_msg, .ticket_state {
            width: 90%;
            margin: auto;
            display: flex;
            padding-top: 10px;
        }

        .ticket_time, .start_station, .end_station {
            margin-left: 10px;
        }

        .icon-changjiantou{
            margin-left: 15px;
        }

        .seat_level,.passenger_identity{
            margin-left: 40px;
        }

        .carriage_num{
            margin-left: 50px;
            color: #ebaa20;
        }

        .seat_num{
            margin-left: 20px;
            color: #ebaa20;
        }

        .ticket_type{
            margin-left: 15px;
        }

        .ticket_price{
            margin-left: 40px;
            color: #c12a2c;
        }
    }
    
    .bottom{
        display: flex;
        width: 100%;
        background-color: #323132;
        color: #ffffff;
        height: 50px;
        font-size: 18px;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        padding-top: 10px;
    }
}
