.payChoice{
  .title {
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 50px;
    font-size: 22px;
    padding: 10px 10px 5px 10px;
    background-color: #4f8dd3;
    color: #ffffff;
    text-align: center;
    .order{
      font-size: 20px;

    }
    .pay_please{
      font-size: 22px;
    }
    .complete{
      font-size: 20px;
    }
  }
}
