<div class="checkOrder">
    <div class="title">
        <i class="iconfont icon-fanhui"></i>
        <div class="content">确认订单</div>
    </div>
    <div class="choose_time">
        <div class="pre_day">前一天</div>
        <div class="this_day">2017-10-19</div>
        <div class="next_day">后一天</div>
    </div>
    <div class="ticket">
        <div class="detail">
            <div class="from">
                <div>杭州东</div>
                <div class="blue">12:50出发</div>
                <div>南昌西</div>
            </div>
            <div class="time">
                <div class="name">G2355</div>
                <div></div>
                <div>49分钟</div>
            </div>
            <div class="to">
                <div>余姚北</div>
                <div class="blue">13:39到达</div>
                <div>宁波</div>
            </div>
        </div>
        <div class="seat">
            <div class="shang">
                <div class="type">商务</div>
                <div>3张</div>
                <div class="price">￥153.5</div>
            </div>
            <div class="yi">
                <div class="type">一等</div>
                <div>2张</div>
                <div class="price">￥82.0</div>
            </div>
            <div class="er">
                <div class="type">二等</div>
                <div>有</div>
                <div>￥48.5</div>
            </div>
        </div>
    </div>
    <div class="passenger">
        <div class="add">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            添加乘客
        </div>
    </div>
    <div class="choose_seat">
        <div>选座服务</div>
        <div><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
    <div class="submit">提交订单</div>
    <app-bottom></app-bottom>
</div>
