<div class="checkRefund">
    <div class="title">确认退票</div>

    <div class="train_msg">
        <div class="start_station_and_time">
            <div class="start_station">杭州东</div>
            <div class="start_time">12:00 出发</div>
        </div>
        <div class="train_num">
            <div class="num">G354</div>
            <div><i class="iconfont icon-straight"></i></div>
        </div>
        <div class="end_station_and_time">
            <div class="end_station">上海虹桥</div>
            <div class="end_time">13:15 到达</div>
        </div>
    </div>

    <div class="passenger_msg">
        <div class="passenger_identity">
            <div class="name">傅凯琪</div>
            <div class="identity_num">330***********1234</div>
            <div class="identity_type">二代身份证</div>
        </div>
        <div class="passenger_ticket_msg">
            <div class="ticket_type">成人票</div>
            <div class="seat_level">二等座</div>
            <div class="carriage_num">11</div>
            <div class="carriage">车</div>
            <div class="seat_num">11A号</div>
            <div class="ticket_price">125.00元</div>
        </div>
    </div>

    <div class="return_money">
        <div class="text">应退票款：</div>
        <div class="money">118.75元</div>
    </div>

    <div class="return_rate">
        <div class="current_rate_text">当前退票费率：</div>
        <div class="current_rate">5%</div>
        <div class="current_price_text">退票费：</div>
        <div class="current_price">6.25元</div>
    </div>

    <button class="confirm_btn" ng-click="confirm()">确认退票</button>

    <button class="cancel_btn" ng-click="cancel()">取消退票</button>

    <div class="tips"><img src="../img/refund_ticket_tips.jpg"></div>

    <app-bottom></app-bottom>
</div>
