<div class="checkPay">
    <div class="title">确认支付</div>
    <div class="date_single_double">单程：2017年12月3日</div>
    <div class="train_msg">
        <div class="start_station_and_time">
            <div class="start_station">杭州东</div>
            <div class="start_time">16:50 出发</div>
        </div>
        <div class="train_num">
            <div class="num">G7545</div>
            <div><i class="iconfont icon-straight"></i></div>
            <div class="using_time">02小时57分钟</div>
        </div>
        <div class="end_station_and_time">
            <div class="end_station">余姚北</div>
            <div class="end_time">17:29 到达</div>
        </div>
    </div>
    <div class="order_data">

        <div class="pass_data">
            <div class="pass_name">付开奇</div>
            <div class="id_num">330***********7412</div>
            <div class="id_class">二代身份证</div>
        </div>
        <div class="order_detail">
            <div class="class">成人票</div>
            <div class="category">硬卧</div>
            <div class="car_num"><span class="num">11</span>车</div>
            <div class="seat">11号中铺</div>
            <div class="pay">75.50元</div>
        </div>
    </div>
    <div class="service">
        <div class="sum">
            <div class="success">成功：1张</div>
            <div class="sum_all">总票价：<span class="sum_num">75.50元</span></div>
        </div>
        <div class="service_button">立即支付</div>
        <div class="service_button">购买保险</div>
        <div class="service_button">购买返程</div>
        <div class="service_button">送票上门</div>
        <div class="cencel_button">取消订单</div>
        <body class="info">
        <p style="margin-bottom: 2px"><span style="color: red">*</span>购保提示：</p>
        <p style="line-height:16px">
            1.每张车票可投保一份乘意险，每份保费3元，最高保障30万元以外身故、伤残和3万元意外医疗费用。<br>
            2.请您仔细阅读<span style="color: #4f8dd3">【保险条款】</span>和<span style="color: #4f8dd3">【投保须知】</span>，
            可登陆</span>和<span style="color: #4f8dd3">www.china-ric.com</span>查看电子保单
            3.点击购保人信息可以删除或者添加购保信息</p>
        </body>
    </div>

    <app-bottom></app-bottom>
</div>
