<link rel="stylesheet" href="../fonts/iconfont.css">
<link rel="stylesheet" href="../styles/orderDetails.css">
<div class="order">
    <div class="head">
        <div><i class="iconfont icon-fanhui"></i></div>
        <div class="order_details">订单详情</div>
        <div><i class="iconfont icon-cf-c57"></i></div>
    </div>

    <div class="choices">
        <div class="return_ticket">退票</div>
        <div class="change_ticket">改签</div>
        <div class="change_station">变更到站</div>
        <div class="passenger_accident_insurance">乘意险</div>
        <div class="order_meal">订餐</div>
    </div>

    <div class="order_num_and_date">
        <div class="order_num">E072021851</div>
        <div class="order_date">2017年11月7日</div>
    </div>

    <div class="ticket_details">
        <div class="time_and_station">
            <div class="ticket_date">2017-11-10</div>
            <div class="ticket_time">16:50开</div>
            <div class="start_station">杭州东</div>
            <div><i class="iconfont icon-changjiantou"></i></div>
            <div class="end_station">余姚北</div>
        </div>

        <div class="seat_msg">
            <div class="train_num">G7545</div>
            <div class="seat_level">二等座</div>
            <div class="carriage_num">04车</div>
            <div class="seat_num">09A号</div>
        </div>

        <div class="passenger_msg">
            <div class="passenger_name">岑焕亚</div>
            <div class="passenger_identity">二代身份证</div>
            <div class="ticket_type">成人票</div>
            <div class="ticket_price">48.50元</div>
        </div>

        <div class="ticket_state">车票状态:已支付</div>
    </div>
</div>
