<div class="payChoice">
    <div class="title">
        <div class="order">订单</div>
        <div class="pay_please">请您支付</div>
        <div class="complete" ng-click="finish()">完成</div>
    </div>
    <div>
        <img src="../img/和谐.jpg"  class="train_img">
    </div>
    <div class="sec_title">
        <div class="sec_title_text">中国铁路电子支付平台</div>
    </div>
    <div class="msg">
        <body>
        <p style="margin-bottom: 2px;font-weight:bold">活动优惠：</p>
        <p style="line-height:16px">
            1.选中国银联购票，最高用<span style="color: red">立减30元</span>，详情咨询95516<br>
            2.10月27日-12月26日期间，用<span style="color: red">支付宝</span>购票，第1、3、5、7、10次购票均
            可用<span style="color: red">领取红包</span>。客服：95188</p>
        </body>
    </div>
    <div class="should_pay">应付金额：<span style="font-weight: bold">75.5</span>元</div>
    <div class="pay_choice_select">
        <form class="select_form">
            <table style="width: 100%;">
                <tr style="width: 100%;">
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio" checked><label class="select_text">工商银行</label>
                    </td>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">农业银行</label>
                    </td>
                </tr>
                <tr>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">中国银行</label>
                    </td>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">建设银行</label>
                    </td>
                </tr>
                <tr>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">招商银行</label>
                    </td>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">邮储银行</label>
                    </td>
                </tr>
                <tr>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">中国银联</label>
                    </td>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">中铁银通卡</label>
                    </td>
                </tr>
                <tr>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">支付宝</label>
                    </td>
                    <td class="select_item" align="left" style="width: 50%;">
                        <input name="choice" type="radio" class="ridio"><label class="select_text">微信支付</label>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="pay">
        <div class="pay_button" ng-click="submit()">提交支付</div>
    </div>
</div>
