<div class="refundSuccess">
    <div class="title">退票完成</div>

    <div class="context">恭喜！您已退票成功 请您牢记业务号：</div>

    <div class="service_number">2E072021851001001113408383</div>

    <div class="return_money1">
        <div class="prev_price_text">原票价：</div>
        <div class="prev_price">48.50元</div>
        <div class="rate_money_text">手续费：</div>
        <div class="rate_money">2.50元</div>
    </div>

    <div class="return_money2">
        <div class="current_rate_text">退票费率：</div>
        <div class="current_rate">5%</div>
        <div class="current_price_text">共计退款：</div>
        <div class="current_price">46.00元</div>
    </div>

    <button class="ordering_btn">订餐服务</button>

    <button class="continue_buy_ticket_btn" ng-click="continue()">继续购票</button>

    <button class="query_order_btn">查询订单</button>

    <div class="more_msg">
        <div class="sale_point">
            <div><i class="iconfont icon-a1"></i></div>
            <div>周边代售点</div>
        </div>
        <div class="share_to_friends">
            <div><i class="iconfont icon-share"></i></div>
            <div>分享给朋友</div>
        </div>
        <div class="save">
            <div><i class="iconfont icon-baocundaobendi"></i></div>
            <div>保存到本地</div>
        </div>
        <div class="order_car">
            <div><i class="iconfont icon-zhuancheyuyue"></i></div>
            <div class="order_car_text">约车</div>
        </div>
    </div>

    <div class="tips1">
        1、购票后单独购保的，系统退保时另行处理，请您注意查收。
    </div>
    <div class="tips2">
        2、退票费按如下规则核收：票面乘车站开车时间前15天
    </div>
</div>
