<div class="register">
    <div class="container-fluid">
        <div class="title flexcenter container-fluid">
            <div class="col-xs-2"><i class="iconfont icon-fanhui"></i></div>
            <div class="col-xs-8 flexcenter">注册</div>
            <div class="col-xs-2"></div>
        </div>
        <div class="container-fluid main-board">
            <div class="message">基本信息</div>
            <div class="message-container">
                <div class="flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">用&nbsp&nbsp户&nbsp&nbsp名</div>
                    <input type="text" class="col-xs-9 " value="dreamfkq">
                </div>
                <div class="message-container-row flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码</div>
                    <input type="text" class="col-xs-9" value="…………">
                </div>
                <div class="flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">密码确认</div>
                    <input type="text" class="col-xs-9" value="…………">
                </div>
            </div>
            <div class="message">详细信息</div>
            <div class="message-container">
                <div class="flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名</div>
                    <input type="text" class="col-xs-9 " value="傅凯琪">
                </div>
                <div class="message-container-row flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">证件类型</div>
                    <input type="text" class="col-xs-9" value="二代身份证">
                </div>
                <div class="flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">证件号码</div>
                    <input type="text" class="col-xs-9" value="3302333333333333">
                </div>
            </div>
            <div class="message">联系方式</div>
            <div class="message-container">
                <div class="flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">手机号码</div>
                    <input type="text" class="col-xs-9 " value="123456789111">
                </div>
                <div class="message-container-row flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">电子邮件</div>
                    <input type="text" class="col-xs-9" value="123456789@qq.com">
                </div>
            </div>
            <div class="message">附加信息</div>
            <div class="message-container">
                <div class="flexcenter col-xs-12">
                    <div class="col-xs-3 message-title">旅客类型</div>
                    <input type="text" class="col-xs-9 " value="成人">
                </div>
            </div>
            <div class="col-xs-12 serve">
                <input type="checkbox" value="checkbox" checked="checked"></input>
                <div class="yes">同意</div>
                <div class="item">服务条款</div>
            </div>
            <div class="col-xs-12 next flexcenter">下一步</div>
    </div>
        <app-bottom></app-bottom>
    </div>
</div>
